<div class="p-2 d-flex justify-content-center content outer-style">
    <div class="card card-back" style="width: 62rem;">
        <div class="card-back m-3">
            <h1 class="display-3 m-0"> {{eventDetails.name}} </h1>
            <h3 class="display-6"> {{eventDetails.description}} </h3>
            <p> {{eventDetails.date}} </p>
            <p>
                <span> {{eventDetails.street}} </span>
                <br>
                <span> {{eventDetails.city}} </span>
                <span> {{eventDetails.state}} </span>
                <span> {{eventDetails.zipcode}} </span>
            </p>
            <br>
            <div class="card todo-card">
                <app-todo-list></app-todo-list>
            </div>

        </div>
    </div>
</div>