<div class="p-2 d-flex justify-content-center content">
    <div class="card card-back shadow-lg" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title display-4 text-center">Update Event</h5>
            <form #form="ngForm" [formGroup]="eventForm" (ngSubmit)="updateEvent()">
              <div class="mb-3">
                <label class="form-label">Event Title</label>
                <input type="text" class="shadow-sm form-control" id="title" name="name" formControlName="name" [ngModel]="eventDetails.name" required>
                  <div *ngIf="eventForm.controls.name.invalid && !eventForm.controls.name.hasError('required')" class="alert alert-danger"> Title can only contain letters and numbers </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="shadow-sm form-control" id="description" name="description"
                  formControlName="description" [ngModel]="eventDetails.description">
                <div id="details" class="form-text">Give a brief description of the event, you can change this later.</div>
                <div *ngIf="eventForm.controls.description.invalid" class="alert alert-danger"> Description can only contain letters and numbers </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Date</label>
                <input placeholder="mm/dd/yyyy" type="date" class="shadow-sm form-control" id="description" name="date"
                  formControlName="date" [ngModel]="eventDetails.date" >
                  <div *ngIf="eventForm.controls.date.invalid" class="alert alert-danger"> Date Invalid </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Location</label>
                <input placeholder="Street Address" type="text" class="shadow-sm form-control" id="street" name="street"
                  formControlName="street" [ngModel]="eventDetails.street">
                  <div *ngIf="eventForm.controls.street.invalid" class="alert alert-danger"> Street Invalid </div>
                <input placeholder="City" type="text" class="shadow-sm form-control mt-2" id="city" name="city"
                  formControlName="city" [ngModel]="eventDetails.city">
                  <div *ngIf="eventForm.controls.city.invalid" class="alert alert-danger"> City Invalid </div>
                <input placeholder="State" type="text" class="shadow-sm form-control mt-2" id="state" name="state"
                  formControlName="state" [ngModel]="eventDetails.state">
                  <div *ngIf="eventForm.controls.state.invalid" class="alert alert-danger"> State Invalid </div>
                <input placeholder="Zipcode" type="text" class="shadow-sm form-control mt-2" id="zipcode" name="zipcode"
                  formControlName="zipcode" [ngModel]="eventDetails.zipcode">
                <div *ngIf="eventForm.controls.zipcode.invalid" class="alert alert-danger"> Zipcode Invalid </div>
              </div>
              <div>
                <div class="d-flex justify-content-center">
                  <button type="submit" id="mySubmit" [disabled]="!eventForm.valid" class="btn btn-secondary shadow-sm">Submit</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>