.content {
    background-color: #fef9f8;
}

.card {
    width: 23%;
}

.card-back {
    background-color: #Ffffff;
    border: none;
}

.btn-secondary {
    background-color: #0d0d0d;
}

.card-header {
    background-color: transparent;
}